body {
  width: 100%;
}

h1 {
  color: orangered;
  font-size: 50px;
}

h2,
h3 {
  color: orange;
  font-size: 25px;
  font-weight: 300;
  margin: 0;
}
h4 {
  position: relative;
  font-size: 18px;
  top: 70px;
}
p {
  line-height: 0.9;
}
.stats {
  color: orange;
  font-size: 20px;
  font-weight: 300;
  text-align: left;
  list-style: none;
  border: 2px solid orange;
  position: relative;
  top: 80px;
}

ul {
  width: 250px;
}

.center {
  justify-content: center;
}

.AlignText-Center {
  text-align: center;
}

.AlignText-Left {
  text-align: left;
}
.align-right {
  text-align: right;
}
.float-right {
  float: right;
}
.DayContainer-Element {
  width: 100px;
  height: 200px;
  margin: 15px;
}

.DayContainer-ElementCircle {
  height: 100px;
  width: 100px;
  border: 3px solid orange;
  border-radius: 50%;
  padding-top: 10px;
}

.WeekDays {
  color: orangered;
  font-size: 20px;
  font-style: italic;
  font-weight: 450;
}

.Temperature {
  color: orange;
  font-size: 20px;
}
.Icon {
  font-size: 35px;
}

#btn {
  color: orangered;
  background-color: orange;
  border: 2px solid;
}
#form {
  display: block;
  float: right;
}
#temperature {
  color: orangered;
  font-size: 35px;
  position: relative;
  top: 45px;
  float: right;
  right: 65px;
}
.units {
  color: orange;
  float: right;
  position: relative;
  top: 40px;
  left: 25px;
}
#city {
  position: relative;
  top: 50px;
}
#icon {
  position: relative;
  padding: 5px;
  bottom: 50px;
  left: 120px;
}

#date {
  position: relative;
  top: 35px;
}
#time {
  position: relative;
  top: 35px;
}
.active {
  color: black;
  cursor: default;
  text-decoration: none;
}
.active:hover {
  text-decoration: none;
}
